section.form-section{
  height: 100vh;
  .mobile-image{
    display: none;
  }
  .mobile-logo{
    display: none;
  }
  h1{
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-form{
    padding: 40px 0;
  }
  .logo{
    display: flex;
    justify-content: center;
    img {
      width: 190px;
      height: auto;
    }
  }
  .text-wrap {
    max-width: 580px;
    margin: 0 auto;
  }
 .subtitle p {
   max-width: 500px;
   margin: 0 auto;
   text-align: center;
   letter-spacing: 0;
   &:first-child{
     margin-bottom: 16px;
   }
   &:nth-child(2){
     font-size: 14px;
     line-height: 28px;
     letter-spacing: 1.12px;
     text-transform: uppercase;
   }
   &:last-child{
     font-size: 17px;
     margin-bottom: 37px;
   }
 }
  .gfield_label{
    display: none;
  }
  .form li{
    list-style: none;
  }
  form{
    display: flex;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    z-index: 3;
    input{
      font-family: $fontBody;
    }
    input[type=text]{
      padding: 20px 30px;
      border: 1px solid $black;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.27px;
      width: 100%;
    }
    input[type=submit]{
      background-color: $black;
      padding: 20px 27px;
      color: $white;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.27px;
      border: 1px solid $black;
      cursor: pointer;
    }
    input::placeholder{
      color: $lightGray;

    }
    .gform_body{
      width: 100%;
    }
  }
  .validation_error{
    position: absolute;
    margin-top: -30px;
    color: $errorColor;
  }
  .validation_message{
    margin-top: 10px;
    color: $errorColor;
  }
  .gform_confirmation_message {
    font-family: $fontBody;
    font-size: 18px;
    text-align: center;
  }
  .contact-form{
    min-width: 835px;
  }
  .footer-splash{
    display: flex;
    flex-direction: column;
    .location{
      text-align: center;
      font-family: $fontBody;
    }
    .phone, .address p{
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.27px;
    }
    .phone{
      margin-bottom: 20px;
      text-decoration: underline;
    }
    .phone{
      display: none;
    }
  }
}
@media only screen and (max-width: 1180px) {
  section.form-section{
    overflow-y: scroll;
    flex-direction: column;
    position: relative;
    .subtitle p:first-child{
      font-size: 17px;
    }
    .subtitle p:last-child{
      margin-bottom: 25px;
    }
    .logo {
      position: absolute;
      max-width: 260px;
      margin: 0 auto;
      top: 27px;
      left: 50%;
      transform: translateX(-50%);
      svg{
        path{
          fill: $white;
        }
      }
    }
    .mobile-image{
      width: 100%;
      display: block;
      img{
        width: 100vw;
      }
    }
    .image{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .contact-form{
      z-index: 3;
      min-width: unset;
      width: 100%;
      height: 100vh;
      padding-left: 20px;
      padding-right: 20px;
    }


    .footer-splash {
      padding-top: 50px;
    }

    .h1{
      margin-bottom: 11px;
    }
  }
}
@media only screen and ( max-width: 600px ){

  section.form-section{
    .form{
      width: 100%;
    }
    form{
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      min-width: unset;
      flex-direction: column;
      input[type=submit]{
        width: 100%;
      }
      input[type=text]{
        text-align: center;
      }
    }
    .validation_error{
      margin-bottom: 10px;
      position: relative;
      text-align: center;
    }
    .validation_message{
      text-align: center;
      margin-bottom: 10px;
    }
  }

}